.button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  outline: none;
}

.button.primary {
  background-color: var(--detail-color-blue);
  color: var(--text-color);
}

.button.primary:hover {
  background-color: #8fcce9;
}

.button.secondary {
  background-color: var(--detail-color-pink);
  color: var(--text-color);
}

.button.secondary:hover {
  background-color: #f59eaa;
}

.button.appointment {
  background-color: var(--detail-color-yellow);
  color: var(--text-color);
}

.button.appointment:hover {
  background-color: #f0ec8a;
}

/* Responsividade */
@media (max-width: 768px) {
  .button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
}
